.contenido{
    margin: 1%;
    padding: 2%;
    border-top: 3px solid darkblue;
    border-bottom: 3px solid darkblue;
    background-color: lightblue;
}
label{
    padding: 1%;
}
input{
    padding: 1%;
}
input:focus{
background-color: yellow;
}
label::selection{
    background-color: yellow;
}
